@charset "UTF-8";

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    height: 100px;
    position: relative;
    background-color: #fff;
    padding: 1px;

    box-shadow: -4px 10px 9px -3px rgba(45, 45, 45, 0.17);
}

.logo {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: xx-large;
}

.buttons-div {
    max-width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    padding: 1px;
}

.a-user-circle {
    color: black;
}

.fa-user-circle {
    font-size: 2.5em !important;
    margin: 0px 20px;

    background-image: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttons-div button {

    min-width: 110px;
    height: 45px;
    line-height: 1.5em;

    font-family: "Roboto", sans-serif;
    font-weight: 500;

    border-color: transparent;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);

    text-transform: uppercase;
    letter-spacing: 0.08em;

    cursor: pointer;
}

main {

}



.card {
    display: flex;
    position: relative;
    margin: 20px 10px 10px;
    width: 95%;
    height: 30vh;
    border-color: white;
    border-radius: 4px;

    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

.color-stripe {
    position: absolute;
    width: 5%;
    height: 30vh;
    /*background-color: magenta;*/
    background-image: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);
}

.card-text {
    font-size: 1.15em;
    text-align: center;
    align-self: center;
    padding: 3vh 5% 3vh 10%;
    /*padding: 50px 5% 50px 10%;*/

    -webkit-text-orientation: sideways;

            text-orientation: sideways;
}

.moneylogbook-string {
    font-size: 1.4em;

    background-image: linear-gradient(180deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-text3 .moneylogbook-string {
    font-size: 1em;

    background-image: linear-gradient(180deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.red-text {
    background-image: linear-gradient(90deg, rgb(183, 29, 253) 0%, rgb(253, 29, 29) 51%, rgb(252, 176, 69) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.unstyled-link {
    color: inherit;
    text-decoration: none;
}

.img-gallery-div {
    position: relative;
    width: 375px;
    height: 666px;
}

.mySlides {
    display: none;
}

.prev,
.next {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    /*color: white;*/
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px 0 0 3px;
    /*width: auto;*/
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    padding: 16px;
    /*margin-top: -50px;*/
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

footer {
    position: relative;

    background-color: #424242;
    height: 50px;

    margin-top: 10vh;
}

footer a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    color: #f6f6f6;
    text-decoration: none;
}

.splide {
    margin: 25px auto 0;
}

.splide__slide img {
    width: 100%;
    height: auto;
}

